[user]
  name = Daichi Kamemoto
  email = daikame@gmail.com
[alias]
  st = status
  co = checkout
  ci = commit
  graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  gall = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  local-prune = "!git branch --merged master | grep -v '^*\\| master$' | xargs git branch -d"
[color]
  status = auto
  diff = auto
[core]
  pager = "less -R"
[pager]
  log = ~/bin/diff-highlight | less
  show = ~/bin/diff-highlight | less
  diff = ~/bin/diff-highlight | less
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[merge "mergepbx"]
  name = XCode project files merger
  driver = mergepbx %O %A %B
[init]
  templatedir = ~/.gitconfig.d/templates
[ghq]
  root = ~/.ghq
  root = ~/.go/src
