[user]
  name = Daichi Kamemoto
  email = daikame@gmail.com
[alias]
  st = status
  co = checkout
  ci = commit
  graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  gall = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  local-prune = "!git branch --merged master | grep -v '^*\\| master$' | grep -v 'develop$' | xargs git branch -d"
  remote-prune = "!echo 'target remote branches:'; git branch -r --merged origin/master | grep -v origin/master | grep -v origin/develop | sed -e 's:origin/::' && echo 'DELETE merged remote branches. OK??[y/N]';read YN;[[ $YN =~ ^([yY][eE][sS]|[yY])$  ]] && git branch -r --merged origin/master | grep -v origin/master | grep -v origin/develop | sed -e 's:origin/::' | xargs -I% git push origin --delete %"
[color]
  status = auto
  diff = auto
[core]
  pager = "less -R"
  preloadindex = true
  quotepath = false
  excludesfile = ~/.gitconfig.d/ignores
#[pager]
#  log = ~/bin/diff-highlight | less
#  show = ~/bin/diff-highlight | less
#  diff = ~/bin/diff-highlight | less
[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true
[merge "mergepbx"]
  name = XCode project files merger
  driver = mergepbx %O %A %B
[init]
  templatedir = ~/.gitconfig.d/templates
[ghq]
  root = ~/.ghq
  root = ~/.go/src
